[tool.isort]
profile = "black"
src_paths = ["fastenv", "tests"]

[tool.poetry]
name = "fastenv"
version = "0.0.1"
description = "Unified settings management for FastAPI and beyond."
authors = ["Brendon Smith <br3ndonland@protonmail.com>"]
license = "MIT"
homepage = "https://github.com/br3ndonland/fastenv"
readme = "README.md"
include = ["fastenv/py.typed"]
keywords = ["asgi", "dotenv", "environment variables", "fastapi", "settings"]
classifiers = [
  "Development Status :: 1 - Planning",
  "Environment :: Web Environment",
  "Intended Audience :: Developers",
  "Natural Language :: English",
  "Topic :: Internet :: WWW/HTTP :: HTTP Servers",
  "Topic :: Software Development :: Libraries :: Application Frameworks",
  "Topic :: System :: Installation/Setup",
  "Topic :: System :: Systems Administration",
  "Topic :: Utilities",
  "Typing :: Typed"
]

[tool.poetry.dependencies]
python = "^3.9"

[tool.poetry.dev-dependencies]
black = {version = "20.8b1", allow-prereleases = true}
flake8 = "^3.8"
isort = "^5.8"
mypy = "0.812"
pre-commit = "^2.11"
pytest = "^6.2"
pytest-cov = "^2.10"
pytest-mock = "^3.3"

[tool.pytest.ini_options]
addopts = "--cov=fastenv -q"
minversion = "6.0"
testpaths = ["tests"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
